.hero {
  padding-top: 60px;
  padding-bottom: 50px;
}

.hero > img {
  display: none;
}

.hero-title {
  font-size: 28px;
  line-height: normal;
  margin-bottom: 28px;
}

.hero-text {
  line-height: 1.43;
  margin-bottom: 32px;
}

.hero-btn {
  border-radius: 30px;
  background-color: var(--color-light-green);
  border: none;
  width: 98px;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  transition: background-color var(--timing-function);
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--color-brand-main);
}

/* =================TABLET================ */

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
  }

  .hero > img {
    display: flex;
    align-self: flex-end;
    border-radius: 320px;
    border: 14px solid var(--color-brand-main);
  }
  .hero-content-wrap {
    margin-right: 40px;
  }
  .hero-title {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 44px;
  }
  .hero-text {
    font-size: 16px;
    margin-bottom: 40px;
    max-width: 336px;
  }
  
}

/* ======================DESKTOP================= */

@media screen and (min-width: 1280px) {
    
    .hero {
        padding-top: 14px;
        align-items: center;
        padding-bottom: 15px;
    }

    .hero-content-wrap {
        margin-right: 152px;
        width: 510px;
    }
    .hero-title {
        font-size: 48px;
        margin-bottom: 28px;
    }
    .hero-text {
        max-width: 511px;
    }
}